<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>
<body>

<div layout:fragment="content">

    <form
            th:action="${editProduct.getId()==null}
                ? @{/products(${_csrf.parameterName}=${_csrf.token})}
                : @{/products/{id}(id=${editProduct.getId()}, ${_csrf.parameterName}=${_csrf.token})}"
            th:method="post"
            enctype="multipart/form-data">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" th:value="${editProduct.getName()}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" name="description"></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><input type="number" name="quantity"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" name="price"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="file" name="image"></td>
        </tr>
        <tr>
            <td></td>
            <td><img  th:if="${editProduct.extension != null}" height="100"
                     th:src="@{/products/{id}/image(id=${editProduct.id})}"/></td>
        </tr>
    </table>
        <input class="form-submit-button" type="submit" th:value="${editProduct.getId()==null} ? 'Create' : 'Update'">
    </form>
    <form th:action="@{/products/{id}/image(id=${editProduct.getId()})}" th:method="delete"
          th:if="${editProduct.getId()!=null && editProduct.extension !=null}">
        <input class="form-submit-button" type="submit" value="Delete image"/>
    </form>
</div>
</body>
</html>
