<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <style type="text/css">

		body {
			max-width: 1000 px;
		}

		.content{
		width:800px;
		heights:1000px;


	</style>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<div layout:fragment="content">
<form  action="#" th:action="@{/admin/product/save}" th:object="${productModel}"
       method="POST" >
    <table style="text-align:left;">
        <div class="content">
       <!-- <tr>
            <td>Code *</td>
            <td style="color:red;">
                <input th:field="*{newProduct}" type="hidden" />
                <input th:if="${product.newProduct}" type="text"
                       th:field="*{code}" />
                <th:block th:if="${!product.newProduct}">
                    <span th:utext="${productForm.code}"></span>
                    <input type="hidden" th:field="*{code}" />
                </th:block>
            </td>
            <td>
                <span class="error-message" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">..</span>
            </td>
        </tr>-->
        <tr>
            <td>Name *</td>
            <td><input    th:field="*{name}"  th:value="${productModel.name}"/></td>

        </tr>
        <tr>
             <td>Description *</td>
             <td><input   th:field="*{description}"  th:value="${productModel.description}"/></td>

        </tr>

        <tr>
            <td>Price *</td>
            <td><input  th:field="*{price}"  th:value="${productModel.price}"/></td>

        </tr>

        <tr>
            <td>&nbsp;</td>
            <td>
                <input class="form-submit-button" type="submit" value="Submit" />
                <input class="form-submit-button" type="reset" value="Reset" />
            </td>
        </tr>
        </div>
    </table>

    </form>

</body>
</html>