<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Enter Customer Information</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<div layout:fragment="content">


    <div class="page-title">Customer Information</div>

   <!-- <form method="POST" action="#" th:action="@{/customer/info/update} " th:object="${userModel}">-->
   <!-- <form  th:action="@{/customer/info/edit/{id}(id=${user.id}, ${_csrf.parameterName}=${_csrf.token})}" method="post" enctype="multipart/form-data">-->
        <table border="2" >
            <td>
                <img th:if="${user.imageExtension != null}" height="100"
                     th:src="@{/users/{id}/image(id=${user.id})}"/>
            </td>

            <tr>
                <th>Id*</th>
                <td>
                    <th:block th:text="${user.id}" />
                </td>
            </tr>
                <tr>
            <!--    <td>Name *</td>-->
                <!--<td><input type="text" name="name" th:value="${user.name}"/></td>-->
                </tr>
                <!--<td>
                      <span class="error-message"
                            th:if="${#fields.hasErrors('name')}" th:errors="*{userModel.name}">..</span>
                </td>-->
                <th>Name *</th>
                    <td><a th:href="@{/customer/orders}" th:text="${user.name}"></a></td>
                <!--<td><input type="text" name="name" th:value="${user.name}"/></td>-->
            </tr>
            <tr>
                <th>Email *</th>
                <td><th:block th:text="${user.email}"/></td>

            </tr>
            <!--<tr>
                        <td>Image</td>
                <td><input type="file" name="image"></td>
                           </tr>-->

            <tr>
                <td class="centre">
                    <form th:action="@{/customer/info/edit/{id}(id=${user.id})}" method="get">
                        <input class="form-submit-button" type="submit" value="Edit"/>
                    </form>
                </td>

                <td class="centre">
                    <form th:action="@{/customer/orders}">
                        <input  class="form-submit-button" type="submit" value="Orders"/>
                    </form>
                </td>

            </tr>
        </table>



    </form>



   <!-- <form method="POST" action="#" th:action="@{/user/orders/view}" >
        <input type="submit" value="Orders"/>
    </form>-->
</div>
</body>
</html>