<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Enter Customer Information</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="page-title">Customer Information</div>

    <!-- <form method="POST" action="#" th:action="@{/customer/info/update} " th:object="${userModel}">-->
    <!-- <form  th:action="@{/customer/info/edit/{id}(id=${user.id}, ${_csrf.parameterName}=${_csrf.token})}" method="post" enctype="multipart/form-data">-->

    <table border="2">
        <form th:action="@{/customer/info/save/image/{id}(id=${user.id}, ${_csrf.parameterName}=${_csrf.token})}"
              method="post" enctype="multipart/form-data">
            <tr>
                <td>
                    <img th:if="${user.imageExtension != null}" height="100"
                         th:src="@{/users/{id}/image(id=${user.id})}"/>
                </td>
                <td>
                <!--<td><input name="name" th:value="${user.name}"/></td>-->
                <input type="file" name="image">
                <input class="form-submit-button" type="submit" value="Update image"/>

                </td>

            </tr>
        </form>

        <form th:action="@{/customer/info/save/{id}(id=${id})}" th:method="put">
            <tr>
                <td>Id*</td>
                <td>
                    <th:block th:text="${user.id}"/>
                </td>
            </tr>
            <tr>
                <td>Name *</td>
                <td><input name="name" th:value="${user.name}"/></td>
                <!--<td>
                      <span class="error-message"
                            th:if="${#fields.hasErrors('name')}" th:errors="*{userModel.name}">..</span>
                </td>-->
                <!--<td><input type="text" name="name" th:value="${user.name}"/></td>-->

            </tr>
            <tr>
                <td>Email *</td>
                <td><input th:value="${user.email}"/></td>

            </tr>
            <tr>
                <td>
                    <div style="display: flex; justify-content: center;align-items: center; vertical-align: middle;">
                        <input class="form-submit-button" type="submit" value="Update"/>
                    </div>
                </td>
                <td>
                    <div style="display: flex; justify-content: center;align-items: center; vertical-align: middle;">
                        <form th:action="@{/customer/orders}">
                            <input class="form-submit-button" type="submit" value="Orders"/>
                        </form>
                    </div>
                </td>

            </tr>
            <td>
                <div style="display: flex; justify-content: center;align-items: center; vertical-align: middle;">
                    <form th:action="@{/customer/orders}">
                        <input class="form-submit-button" type="submit" value="Orders"/>
                    </form>
                </div>
            </td>
        </form>
    </table>


    </table>

    <!-- <input type="submit" value="Update"/>-->
    </form>


</div>
</body>
</html>