    <!DOCTYPE html >
<html
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        xmlns:spring="http://www.w3.org/1999/XSL/Transform"

        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/defaultLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />

</head>


<body>

<div  layout:fragment="content">
<!--<section layout:fragment="header">-->

<!--<a th:href="@{/index?locale=en}">en</a>
<a th:href="@{/index?locale=ru}">ru</a>
<a th:href="@{/index?locale=ua}">ua</a>-->
<!--<th:block th:include="/header"/>-->
<table>
    <tbody>
   <!-- <a th:href="@{/order/products}">Products</a>-->

    </tbody>
</table>
    <!--<div sec:authorize="isAnonymous()">
    <li><a th:href="@{/login}">Log in</a></li>
    <li><a th:href="@{/registration}">Sign Up</a></li>
</div>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out"/>
        </form>
    </div>
-->
<!--<th:block th:include="/leftMenu"/>-->
<div>
    <img th:src="@{/images/logo.png}"/>
</div>

<!--<th:block th:include="/footer"/>-->
</div>

<!--Подключаем jquery-->
<!--<script src="jquery/jquery-3.3.1.min.js"></script>-->
<!--<script src="bootstrap-4.0.0/js/popper.min.js"></script>-->
<!--&lt;!&ndash;Подключаем boootstrap js&ndash;&gt;-->
<!--<script src="bootstrap-4.0.0/js/bootstrap.min.js"></script>-->
</body>
</html>
