<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Manager profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
    </head>

<body id="qwert">

<section layout:fragment="content">
    <img src="http://profi-user.ru/wp-content/uploads/2018/07/np4og5po-e1532793203599.jpg" width="200" height="200" border="1">

<h4> Manager name: Liliana Chevka</h4>
<h4>Phone number: 0505560814</h4>
<form action="#" th:action="@{/editManagerProfile}" th:object="${user}">
<div class="centre">
    <input class="form-submit-button"  type="submit" value="Edit profile" />
</div>
</form>


<!--<a th:href="@{/sellers}">Seller List</a>-->
<!--<form action="#" th:action="@{/}" th:object="${user}">-->
    <!--<td class="centre" >-->

        <!--<input class="centre" type="submit" value="View seller list" /> </td>-->


<!--</form>-->


<tbody>
<tr th:each="product: ${productModelList}">

        <td style="background-color:powderblue" th:field="*{id}" th:text="${product.id}" />
        <td th:field="*{name}" th:text="${product.name}" />
        <td th:field="*{price}" th:text="${product.price}" />


</tr>
</tbody>
        <div id="footer">&copy; LITS Chernivtsy 2018</div>
</section>
</body>
</html>