<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/defaultLayout.html}">
<html>
<head>
	<!--<title> products in saler cabinet</title>
	<style type="text/css">
		body {
			max-width: 200px;
		}
		.center{
			display: flex; justify-content: center;align-items: center; vertical-align: middle;
		}
		.content{
		width:800px;
		heights:800px;

		margin-left:230px;
		}
	</style>-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<div layout:fragment="content">
<div class="content">
	<tbody>
		<table border="1px", width="400 px">
			<tr>
				<th>Order ID</th>

			</tr>


			<tr th:each="orderModel: ${orderList}">
				<td th:text="${orderModel.id}" />
		<!--<tr >
			
				<td rowspan="2", colspan="0">
					<div style ="display: flex; justify-content: center;align-items: center; vertical-align: middle;">
						ORDERS
					</div>
				</td>

				<td>
					Total sum($)
				</td>
				<td>
						<div style="display: flex; justify-content: center;align-items: center; vertical-align: middle;">
  			  			<button > Exit </button>
						</div>
				</td>
		
		</tr>

		<tr >
			<td>
				
				600
			
			</td>
			<td>
				<div style="display: flex; justify-content: center;align-items: center; vertical-align: middle;">
  			  		<button > Save </button>
				</div>
			</td>
		</tr>
		<tr >
				<td >
					Order number
				</td>
				<td width="20 px">
					sum($)
				</td>
		
		</tr>
			<b th:text="${currentOrder.boughtAt}"></b>

		<tr  th:each="userModel: ${userList}">
			<td th:text="${userModel.id}/>

			<td width="20 px">
				600
			</td>
			<td>
				<div style="display: flex; justify-content: center;align-items: center; vertical-align: middle;">
  			  		<button > edit </button>
				</div>
			</td>

		</tr>

		<td th:text="${userModel.name}/>

			<td width="20 px">
				800
			</td>
			<td>
				<div style="display: flex; justify-content: center;align-items: center; vertical-align: middle;">
  			  		<button > edit </button>
				</div>
			</td>
-->

		</table>

</tbody>
</div>

</div>
</body>
</html>