<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">

<head>
    <title> products in saler cabinet</title>
    <style type="text/css">
		body {
			max-width: 200px;
		}
		.center{
			display: flex; justify-content: center;align-items: center; vertical-align: middle;
		}

    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<section layout:fragment="content">
<tbody>
<tr th:each="orderModel: ${orderList}">

        <!--<td th:field="*{id}" th:text="${product.id}"/>-->
        <td th:field="*{id}" th:text="${orderModel.id}"/>
        <td th:text="${orderModel.sum}"/>

</tr>
</tbody>
</section>
</body>
</html>